// Specific CSS for your home-page

body {
  background-color: #FCA311;
}

.banner h1 {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

 .banner p {
  width: 100vw;
  margin-right: 120px 0;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.page_links {
  display: flex;
  justify-content: space-between;
  text-decoration: white;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;

}

.lower-half {
  background-image: url("https://wallpapers.com/images/featured/goat-7mo0ftmmd2695izw.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.utez {
  background-color: black;
  background-image: asset-url("utez.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
