// Import page-specific CSS files here.
@import "home";
@import "show";

.container-index {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
}

.index-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.card-trip {
  display: inline-grid;
  width: 30%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-trip > img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.new_goat {
  margin: 0.5rem 0.5rem 0 1rem;
}

.goat-form {
  border: 1px solid grey;
  padding: 0.5rem;
}

.add-new-button {
  margin: 0 4rem 2rem 0;
}
