// Import page-specific CSS files here.
@import "home";
@import "show";


.border {
  display: inline-flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  margin: 10px;
}

.new_goat {
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  display: inline-flex;
}
