.goat {
  display: flex;
  height: 400px;
}

.container-show {
  // width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: end;
}

img {
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px black;
}

.info-card {
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-left: 2rem;
  padding: 0.2rem 1rem;
  background-color: white;
 }


.button {
  margin-top: auto;
  margin-bottom: 5px;
}

p {
  margin: 0;
}
// v------------Reviews-----------v
.review {
  width: 100%;
  margin-top: 15px;
  padding: 0.2rem 1rem;
}

.review p {
  width: fit-content;
  // background: white
  // box-shadow: 0 0 15px black;
}
.review-card {
  margin-bottom: 12px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  width: 50%;
}
#user-email {
  color: grey;
}
// ^------------Reviews-----------^
.owner-info {
  gap: 10px;
}

.list-nostyle {
  text-align: center;
}

.list-nostyle-text {
  font-size: 10px;
}

.list-nostyle li {
  list-style-type: none;
}

.buttons button {
  border: 2px solid #0D6EFD;;
  margin-top: 10px;
  border-radius: 30px;
  padding: 12px;
  // border-color: lightblue;
  transition-duration: 0.4s;
  a {
    text-decoration: none;
    color: black;
  }
}
.buttons button:hover {
  background-color: #0D6EFD;;
  a {
    color: white;
  }
}
