 .goat {
  display: flex;
  height: 400px;
 }

 .container-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: end;
  img {
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px black;
  }
 }

 .info-card {
  margin-left: 5px;
 }

 .button {
  margin-top: auto;

  p {
    margin: 0;
  }
 }
