
 .goat {
  display: flex;
  height: 400px;
 }

 .container-show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: end;
  img {
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px black;
  }
 }

 .info-card {
  margin-left: 1rem;
  padding: 0.2rem 1rem;
  background-color: white;
 }

 .button {
  margin-top: auto;

  p {
    margin: 0;
  }
 }

.review {
  margin-left: auto;
  padding: 0.2rem 1rem;
}

 .review p {
  width: min-content;
  background: white;
  box-shadow: 0 0 15px black;

 }
