<div class="container text-center">
  <h1>GOATHUB</h1>
  <p>Interesting title and content here</p>
  <p>To be completed<p>
  <div class="d-flex flex-column">
    <%= link_to "View Goats", goats_path %>
    <%= link_to "Dashboard", my_goats_path %>
    <%= link_to "Dashboard / JS Testing", my_goats2_path %>
  </div>
  <br>
  <p>~~~ TO DO ~~~</p>
  <p>formatting on offers</p>
  <p>check group input on changes (especially offers)</p>
  <p>formatting on reviews</p>
  <p>'rented by' on show goat page</p>
  <p>offers and/or 'is rented' on goat show AND index page</p>
  <p>labels on add goat - kgs, $ etc</p>
  <p>dates! to rent</p>
  <p>define price as price to rent - remove price on offer (you're renting at $xx per day from the goat listing)</p>
  <p>reword 'make an offer' as 'book goat rental'</p>
  <p>does home page have content? or is just dashboard? going to home goes straight to sign in too..</p>
  <p>first name & last name on users - display somewhere? ADD TO SEEDS</p>
  <p>maps??</p>
  <p>javascript stuff for fun</p>
  <p>goat noizzessss</p>
  <p>user story for demo!!!!!</p>
</div>
