<div class="container text-center">
  <h1>GOATHUB</h1>
  <p>Interesting title and content here</p>
  <p>To be completed<p>
  <div class="d-flex flex-column">
    <%= link_to "View Goats", goats_path %>
    <%= link_to "Dashboard", my_goats_path %>
    <%= link_to "Dashboard / JS Testing", my_goats2_path %>
  </div>
</div>
