<div class="container">
<div class="banner">
    <div class="page_links">
      <%= link_to "View Goats", goats_path, class: "links" %>
      <%= link_to "Dashboard", my_goats_path, class: "links" %>
    </div>
    <h1>GOATHUB</h1>
    <p>Where else are you going to rent goats?</p>
  </div>
</div>
  </div>
<div class="lower-half"></div>
