<div class="banner">
  <div class="container">
    <h1>GOATHUB</h1>
    <p>Where else are you going to rent goats?</p>
  </div>
</div>
  <div class="container banner-cont">
    <div class="d-flex flex-column">
      <%= link_to "View Goats", goats_path %>
      <%= link_to "Dashboard", my_goats_path %>
      <%= link_to "Dashboard / JS Testing", my_goats2_path %>
    </div>
  </div>
