
<%# <img src="Boris-the-goat.jpg" alt="goat"> %>
<%= image_tag("Boris-the-goat.jpg",alt:"goat", class:"goat") %>
<div class="container">
<h1><%= @goat.name %></h1>
<p><%= @goat.personality %></p>
</li>
</div>
